# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b
    pass

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    i=text.split()
    return i[0][0] == i[1][0]
    pass

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [13]:
def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False
    pass

In [14]:
# Check
makes_twenty(20,10)

True

In [15]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [20]:
def old_macdonald(name):
    out_name=''
    for i,letter in enumerate(name):
        if i in [0,3]:
            out_name += letter.upper()
        else:
            out_name += letter
    return out_name
    pass

In [21]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [100]:
def master_yoda(text = 'testA testB'):
    alist=text.split()
    alist.reverse()
    return ' '.join(alist)
    pass

In [101]:
master_yoda()

'testB testA'

In [102]:
type(master_yoda())

str

In [103]:
# Check
master_yoda('I am home')

'home am I'

In [104]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [106]:
def almost_there(n):
    return abs(n-100)<=10 or abs(n-200)<=10   
    pass

In [107]:
# Check
almost_there(104)

True

In [108]:
# Check
almost_there(150)

False

In [109]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [136]:
def has_33(nums):
    i=0
    while i<len(nums):
        if nums[i]==3:
            if i!=len(nums)-1 and nums[i+1]==3:
                return True            
        i+=1
    return False
    pass

In [29]:
def has_33(nums = [1,1,1]):
    mystring=''
    for i in nums:
        mystring+= str(i)
    print(mystring)
    return '33' in mystring
    pass

In [38]:
def has_33(nums = [1,1,1]):
    b1=False
    for i in nums:
        if i==3 and b1==False:
            b1=True
        elif i==3 and b1==True:
            return True
        else:
            b1=False
    return False        
    pass

In [39]:
has_33([3,3,1])

True

In [40]:
# Check
has_33([1, 3, 3])

True

In [41]:
# Check
has_33([1, 3, 1, 3])

False

In [42]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [66]:
def paper_doll(text):
    out_string=''
    for i in text:
        for r in range(3):
            out_string+=i
    return out_string
    pass

In [65]:
def paper_doll(text):
    return ''.join([i*3 for i in text])
    pass

In [67]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [68]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [81]:
list(range(3))

[0, 1, 2]

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [83]:
def blackjack(a,b,c):
    sum = a+b+c
    if a==11 or b==11 or c==11:
        if sum-10<=21:
            return sum-10        
    elif sum <= 21:
        return sum
    else:
        return 'BUST'
    pass

In [84]:
# Check
blackjack(5,6,7)

18

In [85]:
# Check
blackjack(9,9,9)

'BUST'

In [86]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [99]:
def summer_69(arr):
    sum=0
    ignore=False        
    for i in arr:
        if i==6:
            ignore=True
        elif i==9:
            ignore=False
            i=0
        if ignore==False:
            sum+=i
    return sum
    pass

In [100]:
# Check
summer_69([1, 3, 5])

9

In [101]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [102]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [104]:
# Check
summer_69([])

0

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [116]:
def spy_game(nums):
    check=''.join([str(i) for i in nums if i==0 or i==7])
    return '007' in check
    pass

In [117]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [118]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [119]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [211]:
def count_primes(num = 100):
    count=0
    denide=0
    is_prime=False
    prime_list=[]
    for i in range(2,num+1):  #2~100
        if i==2:
            is_prime=True  # range(2,2) is empty
        for a in range(2,i):
            is_prime=True
            if i%a==0:
                is_prime=False
                break            
        if is_prime:
            count+=1
            prime_list.append(i)
    return {str(count):prime_list}
    pass

In [203]:
list(range(2,2))

[]

In [212]:
# Check
count_primes(100)

{'25': [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97]}

In [214]:
# Check
count_primes(512)

{'97': [2,
  3,
  5,
  7,
  11,
  13,
  17,
  19,
  23,
  29,
  31,
  37,
  41,
  43,
  47,
  53,
  59,
  61,
  67,
  71,
  73,
  79,
  83,
  89,
  97,
  101,
  103,
  107,
  109,
  113,
  127,
  131,
  137,
  139,
  149,
  151,
  157,
  163,
  167,
  173,
  179,
  181,
  191,
  193,
  197,
  199,
  211,
  223,
  227,
  229,
  233,
  239,
  241,
  251,
  257,
  263,
  269,
  271,
  277,
  281,
  283,
  293,
  307,
  311,
  313,
  317,
  331,
  337,
  347,
  349,
  353,
  359,
  367,
  373,
  379,
  383,
  389,
  397,
  401,
  409,
  419,
  421,
  431,
  433,
  439,
  443,
  449,
  457,
  461,
  463,
  467,
  479,
  487,
  491,
  499,
  503,
  509]}

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [188]:
def print_big(letter):
    t=letter.lower()
    if t=='a':
        print('  *  \n * * \n*****\n*   *\n*   *\n')
    elif t=='b':
        print('***  \n*  * \n***  \n*  * \n***  \n')
    elif t=='c':
        print(' *** \n*   *\n*    \n*   *\n *** \n')
    elif t=='d':
        print('**   \n*  * \n*   *\n*  * \n**   \n')
    elif t=='e':
        print('*****\n*    \n*****\n*    \n*****\n')
    pass

In [189]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [190]:
print_big('b')

***
*  *
***
*  *
***

## Great Job!

In [191]:
print_big('c')

 ***
*   *
*
*   *
 ***

In [192]:
print_big('D')

**
*  *
*   *
*  *
**

In [193]:
print_big('e')

*****
*
*****
*
*****

In [201]:
print_big('a');print_big('b');print_big('c');print_big('d');print_big('e')

  *
 * *
*****
*   *
*   *

***
*  *
***
*  *
***

 ***
*   *
*
*   *
 ***

**
*  *
*   *
*  *
**

*****
*
*****
*
*****